<!-- app/location/listProvince.html v.1.3.0. 20/09/2020 -->

<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>{{ App.pageTitle }} - <small>{{ App.pageSubTitle }}</small></h2>
	</div>
	<div class="col-sm-8">
		<div class="title-action">
			 <a href="{{ URLSITE }}{{ CoreRequest.action }}/newProvin" title="{{ LocalStrings['['inserisci una nuova %ITEM%']|replace({'%ITEM%': LocalStrings['['provincia']})|capitalize }}" class="btn btn-primary">{{ LocalStrings['['nuova %ITEM%']|replace({'%ITEM%': LocalStrings['['provincia']})|capitalize }}</a>			
		</div>
	</div>
</div>

<div class="wrapper wrapper-content">
	
	{% if (App.systemMessages is defined) and (App.systemMessages != '') %}
		<div class="row">
			{{ App.systemMessages|raw }}
		</div>
	{% endif %}

	<div class="row my-3">
		<div class="col">
			<strong>{{ LocalStrings['['impostazioni']|capitalize }} {{ LocalStrings['['modulo'] }}</strong>
		</div>
		<div class="col">
			<a href="{{ URLSITE }}{{ CoreRequest.action }}/listNation" title="{{ LocalStrings['['gestisci %ITEM%']|replace({'%ITEM%':LocalStrings['['nazioni'] })|capitalize }}" class="btn btn-sm btn-primary">{{ LocalStrings['['nazioni']|capitalize }}</a>
		</div>
		<div class="col">
			<a href="{{ URLSITE }}{{ CoreRequest.action }}/listProvin" title="{{ LocalStrings['['gestisci %ITEM%']|replace({'%ITEM%':LocalStrings['['province'] })|capitalize }}" class="btn btn-sm btn-primary">{{ LocalStrings['['province']|capitalize }}</a>
		</div>
		<div class="col">
			<a href="{{ URLSITE }}{{ CoreRequest.action }}/listComuni" title="{{ LocalStrings['['gestisci %ITEM%']|replace({'%ITEM%':LocalStrings['['comuni'] })|capitalize }}" class="btn btn-sm btn-primary">{{ LocalStrings['['comuni']|capitalize }}</a>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">			
		   <div class="ibox">
			   <div class="ibox-content">

				   <form role="form" action="{{ URLSITE }}{{ CoreRequest.action }}/listProvin" method="post" enctype="multipart/form-data">

					   	<div class="row">
						   <div class="col-sm-5 m-b-xs">
							   <div class="form-group row">
								   <label class="col-sm-4 col-form-label">{{ LocalStrings['['voci per pagina']|capitalize }}</label>
								   <div class="col-sm-2">
									   <select class="form-control input-sm" name="itemsforpage" onchange="this.form.submit();" >
										   <option value="5"{% if App.itemsForPage == 5 %} selected="selected"{% endif %}>5</option>
										   <option value="10"{% if App.itemsForPage == 10 %} selected="selected"{% endif %}>10</option>
										   <option value="25"{% if App.itemsForPage == 25 %} selected="selected"{% endif %}>25</option>
										   <option value="50"{% if App.itemsForPage == 50 %} selected="selected"{% endif %}>50</option>
										   <option value="100"{% if App.itemsForPage == 100 %} selected="selected"{% endif %}>100</option>
									   </select>
								   </div>
								   
							   </div>
						   </div>
						   <div class="col-sm-4 m-b-xs">
						   </div>

						   <div class="col-sm-3">
							   <div class="form-group row">
								   <label class="col-md-5 col-form-label">{{ LocalStrings['['cerca']|capitalize }}</label>
								   <div class="col-sm-7">
									   <input name="searchFromTable" value="{% if MySessionVars[App.sessionName]['srcTab'] is defined and  MySessionVars[App.sessionName]['srcTab'] != '' %}{{ MySessionVars[App.sessionName]['srcTab']|e('html') }}{% endif %}" class="form-control input-sm" type="search" onchange="this.form.submit();">
								   </div>
							   </div>			
						   </div>
					   	</div>

						<div class="table-responsive">				
							<table class="table table-striped listData">
								<thead>
									<tr>
										{% if App.userLoggedData.is_root == 1 %}
											<th class="id">ID</th>							
										{% endif %}
										<th>{{ LocalStrings['['titolo']|capitalize }}</th>							
										<th>{{ LocalStrings['['targa']|capitalize }}</th>	
										<th></th>
									</tr>
								</thead>
								<tbody>				
									{% if App.items is iterable and App.items|length > 0 %}
										{% for key,value in App.items %}					
											<tr>
												{% if App.userLoggedData.is_root == 1 %}
													<td class="id">{{ value.id }}</td>
												{% endif %}
												<td>
													{{ value.nome }}														
												</td>		
												<td>{{ value.targa }}</td>												
												<td class="actions">									
													<a class="btn btn-default" href="{{ URLSITE }}{{ CoreRequest.action }}/{{ value.active == 1 ? 'disactive' : 'active' }}Provin/{{ value.id }}" title="{{ value.active == 1 ? LocalStrings['['disattiva']|capitalize : LocalStrings['['attiva']|capitalize }} {{ LocalStrings['['nazione'] }}"><i class="fa fa-{{ value.active == 1 ? 'unlock' : 'lock' }}"></i></a>			 
													<a class="btn btn-default" href="{{ URLSITE }}{{ CoreRequest.action }}/modifyProvin/{{ value.id }}" title="{{ LocalStrings['['modifica']|capitalize }} {{ LocalStrings['['nazione'] }}"><i class="fa fa-edit"></i></a>
													<a class="btn btn-default confirm" href="{{ URLSITE }}{{ CoreRequest.action }}/deleteProvin/{{ value.id }}" title="{{ LocalStrings['['cancella']|capitalize }} {{ LocalStrings['['nazione'] }}"><i class="fa fa-cut"></i></a>										
												</td>							
											</tr>	
										{% endfor %}
									{% else %}
										<tr>
											{% if App.userLoggedData.is_root == 1 %}<td></td>{% endif %}
											<td colspan="3">{{ LocalStrings['['nessuna voce trovata!']|capitalize }}</td>
										</tr>
									{% endif %}
								</tbody>
							</table>
						</div>
						<!-- /.table-responsive -->
									
						{% if App.pagination.itemsTotal > 0 %}
						<div class="row">
							<div class="col-md-6">
								<div class="pagination-info">
									{{ App.paginationTitle }}
								</div>	
							</div>
							<div class="col-md-6">
								<nav aria-label="Page navigation example">
									<ul class="pagination pagination-sm float-right">
										<li class="page-Nation previous{% if App.pagination.page == 1 %} disabled{% endif %}">
											<a class="page-link" title="{{ LocalStrings['['pagina']|capitalize }} {{ LocalStrings['['precedente'] }}" href="{{ URLSITE }}{{ CoreRequest.action }}/pageProvin/{{ App.pagination.itemPrevious }}">{{ LocalStrings['['precedente']|capitalize }}</a>
										</li>
										
										{% if App.pagination.pagePrevious is iterable %}
											{% for key,value in App.pagination.pagePrevious %}
												<li class="page-item"><a class="page-link" title="{{ LocalStrings['['torna alla pagina %ITEM%']|replace({'%ITEM%':value })|capitalize }}" href="{{ URLSITE }}{{ CoreRequest.action }}/pageProvin/{{ value }}">{{ value }}</a></li>
											{% endfor %}
										{% endif %}
											
										<li class="page-item active"><a class="page-link active" title="{{ LocalStrings['['pagina corrente']|capitalize }}" href="{{ URLSITE }}{{ CoreRequest.action }}/pageProvin/{{ App.pagination.page }}">{{ App.pagination.page }}</a></li>
											
										{% if App.pagination.pageNext is iterable %}
											{% for key,value in App.pagination.pageNext %}
												<li class="page-item"><a class="page-link" title="{{ LocalStrings['['torna alla pagina %ITEM%']|replace({'%ITEM%':value })|capitalize }}" href="{{ URLSITE }}{{ CoreRequest.action }}/pageProvin/{{ value }}">{{ value }}</a></li>
											{% endfor %}
										{% endif %}
										
										
										<li class="page-Nation next{% if App.pagination.page >= App.pagination.totalpage %} disabled{% endif %}">
											<a class="page-link" title="{{ LocalStrings['['pagina']|capitalize }} {{ LocalStrings['['prossima'] }}" href="{{ URLSITE }}{{ CoreRequest.action }}/pageProvin/{{ App.pagination.itemNext }}">{{ LocalStrings['['prossima']|capitalize }}</a>
										</li>
									</ul>
								</nav>
							</div>
						</div>
						{% endif %}

					</form>

				</div><!-- end ibox -->		
  			</div><!-- end ibox -->
		</div><!-- end col-lg-12 -->
	</div><!-- end row -->
</div><!-- end wrapper wrapper-content -->