<!-- admin/news/formNew.html v.1.0.0. 17/02/2021 -->
<div class="row">
	<div class="col-md-3 new"></div>
	<div class="col-md-7 help-small-form">{% if App.params.help_small is defined and App.params.help_small != '' %}{{ App.params.help_small }}{% endif %}</div>
	<div class="col-md-2 help"></div>
</div>

<div class="card shadow mt-3 mb-4">
	<div class="card-body">
		
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" id="formTab" role="tablist">		
		
			<li class="nav-item">
				<a class="nav-link active" href="#data" id="data-tab" aria-controls="data" aria-selected="true" data-toggle="tab">{{ LocalStrings['data']|capitalize }}</a>
			</li>
			{% for lang in GlobalSettings['languages'] %}		
				<li class="nav-item">
					<a class="nav-link" href="#datibase{{ lang }}" id="datibase{{ lang }}-tab" aria-controls="datibase{{ lang }}" aria-selected="true" data-toggle="tab">{{ LocalStrings['dati base']|capitalize }} {{ lang }}</a>
				</li>
			{% endfor %}
			<li class="nav-item">
				<a class="nav-link" href="#image" id="image-tab" aria-controls="image" aria-selected="true" data-toggle="tab">{{ LocalStrings['immagine']|capitalize }}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#options" id="options-tab" data-toggle="tab" role="tab" aria-controls="options" aria-selected="false">{{ LocalStrings['opzioni']|capitalize }}</a>
			</li>
		</ul>
				
		<form id="applicationForm" class="form-horizontal" role="form" action="{{ URLSITEADMIN }}{{ CoreRequest.action }}/{{ App.methodForm }}"  enctype="multipart/form-data" method="post">
			<!-- Tab panes -->
			<div class="tab-content" id="formTabContent">
			
				<!-- sezione data --> 	
				<div class="tab-pane fade show active" id="data" role="tabpanel" aria-labelledby="data">	
					<fieldset>

						<div class="form-group row">
							<label for="datatimeinsID" class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-form-label">
								{{ App.params.fields['item']['datatimeins']['label']|capitalize }}
								{% if App.params.fields['item']['datatimeins']['required'] == true %}
									<span class="required-sign">*</span>
								{% endif %}
							</label>
							<div class="input-group col-sm-6 col-md-6 col-lg-4 col-xl-2 date" data-provide="datepicker" id="datatimeinsDPID">
								<input 
								value="{{ App.defaultDatatimeins }}" 
								type="text" name="datatimeins" 
								id="datatimeinsID" 
								class="form-control" 
								{% if App.params.fields['items']['datatimeins']['required'] == true %}  required="required"{% endif %}
								data-errormessage = "{{ App.params.fields['item']['datatimeins']['label']|capitalize }}: {{ App.params.fields['item']['datatimeins']['error message'] }}"
								>
								<div class="input-group-addon calendar-icon">
									<i class="fa fa-calendar"></i>
								</div>
							</div>		
						</div>

						<div class="row">
							<label for="datatimeinsID" class="col-md-2 control-label">Data</label>
							<div class="col-sm-3">
								<div class="form-group">
									<div class="input-group date" id="datatimeinsID" data-target-input="nearest">
										<input type="text" class="form-control datetimepicker-input" data-target="#datatimeinsID" name="datatimeins" />
										<div class="input-group-append" data-target="#datatimeinsID" data-toggle="datetimepicker">
											<div class="input-group-text"><i class="fa fa-calendar"></i></div>
										</div>
									</div>
								</div>
							</div>
						</div>  
	
						<div class="form-group row">
							<label class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-form-label col-form-label-custom-checkbox">{{LocalStrings['scadenza']|capitalize }}
								
							</label>	
							<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">		
								<div class="custom-control custom-checkbox">
									<input 
									name="scadenza" 
									id="scadenzaID"{% if App.item.scadenza == 1 %} checked="checked"{% endif %} 
									value="1" 
									type="checkbox" 
									class="custom-control-input"
									>
									<label class="custom-control-label" for="scadenzaID"></label>
								</div>
							</div>
						</div>

						<div id="datescadenzeID">

							<div class="form-group row">
								<label for="datatimescainiID" class="col-sm-12 col-md-4 col-lg-2 col-xl-2 col-form-label">{{ App.params.fields['item']['datatimescaini']['label']|capitalize }}
									{% if App.params.fields['item']['datatimescaini']['required'] == true %}
										<span class="required-sign">*</span>
									{% endif %}
								</label>
								<div class="input-group col-sm-6 col-md-8 col-lg-4 col-xl-2 date" data-provide="datepicker" id="datatimescainiDPID">
									<input 
									value="{{ App.defaultDatatimescaini }}" 
									type="text" 
									name="datatimescaini" 
									id="datatimescainiID" 
									class="form-control" 
									placeholder="{{ LocalStrings['inserisci una data']|capitalize }}"
									{% if App.params.fields['items']['datatimescaini']['required'] == true %}  required="required"{% endif %}
									data-errormessage = "{{ App.params.fields['item']['datatimescaini']['label']|capitalize }}: {{ App.params.fields['item']['datatimescaini']['error message'] }}"
									>
									<div class="input-group-addon calendar-icon">
										<i class="fa fa-calendar"></i>
									</div>
								</div>		

								<label for="datatimescaendID" class="col-sm-12 col-md-4 col-lg-2 col-xl-2 col-form-label responsive-text-right">
									{{ App.params.fields['item']['datatimescaend']['label']|capitalize }}
									{% if App.params.fields['item']['datatimescaend']['required'] == true %}
										<span class="required-sign">*</span>
									{% endif %}
								</label>
								<div class="input-group col-sm-6 col-md-8 col-lg-4 col-xl-2 date" data-provide="datepicker" id="datatimescaendDPID">
									<input 
									value="{{ App.defaultDatatimescaend }}" 
									type="text" name="datatimescaend" 
									id="datatimescaendID" 
									class="form-control" 
									placeholder="{{ LocalStrings['inserisci una data']|capitalize }}"
									{% if App.params.fields['items']['datatimescaend']['required'] == true %}  required="required"{% endif %}
									data-errormessage = "{{ App.params.fields['item']['datatimescaend']['label']|capitalize }}: {{ App.params.fields['item']['datatimescaend']['error message'] }}"
									>
									<div class="input-group-addon calendar-icon">
										<i class="fa fa-calendar"></i>
									</div>
								</div>		
							</div>	
						</div>

					</fieldset>
				</div>
				<!-- /sezione data -->
					
				<!-- sezione dati base dinamica lingue -->
				{% for lang in GlobalSettings['languages'] %} 
					{% set titleField = "title_#{lang}" %}
					{% set summaryField = "summary_#{lang}" %}
					{% set contentField = "content_#{lang}" %}
					
					<div class="tab-pane fade" id="datibase{{ lang }}" role="tabpanel" aria-labelledby="datibase{{ lang }}">	
					
						<div class="form-group row">
							<label for="title_{{ lang }}ID" class="col-sm-12 col-md-12 col-lg-2 col-xl-2 col-form-label">
								{{ App.params.fields['item'][titleField]['label']|capitalize }}
								{% if App.params.fields['item'][titleField]['required'] == true %}
										<span class="required-sign">*</span>
								{% endif %}		
								<br><small>{{ App.params.fields['item'][titleField]['labelsubtext']|capitalize }}</small>
							</label>
							<div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
								<input 
								type="text" 
								name="title_{{ lang }}" 
								id="title_{{ lang }}ID" 
								value="{{ attribute(App.item, titleField) }}" 
								class="form-control"  
								placeholder="{{ LocalStrings['inserisci un %ITEM%']|replace({ '%ITEM%': App.params.fields['item'][titleField]['label'] })|capitalize }}"
								{% if App.params.fields['item'][titleField]['required'] == true %} 
									{% set label = LocalStrings['Devi inserire un %ITEM%!']|replace({'%ITEM%': App.params.fields['item'][titleField]['label'] })  %}
									required="required" 
									oninvalid="this.setCustomValidity('{{ label }}')" 
									oninput="setCustomValidity('')"
								{% endif %}
								data-errormessage = "{{ App.params.fields['item'][titleField]['label']|capitalize }}: {{ App.params.fields['item'][titleField]['error message'] }}"							
								>
							</div>
						</div>
						<hr>		
						<div class="form-group row">
							<label for="summary_{{ lang }}ID" class="col-sm-12 col-md-12 col-lg-2 col-xl-2 col-form-label">
								{{ App.params.fields['item'][summaryField]['label']|capitalize }}
								{% if App.params.fields['item'][summaryField]['required'] == true %}
										<span class="required-sign">*</span>
								{% endif %}		
								<br><small>{{ App.params.fields['item'][summaryField]['labelsubtext']|capitalize }}</small>
							</label>
							<div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
								<textarea 
								name="summary_{{ lang }}" 
								class="form-control" 
								id="summary_{{ lang }}ID" 
								rows="5" 
								{% if App.params.fields['item'][summaryField]['required'] == true %} 
									{% set label = LocalStrings['Devi inserire un %ITEM%!']|replace({'%ITEM%': App.params.fields['item'][summaryField]['label'] })  %}
									required="required" 
									oninvalid="this.setCustomValidity('{{ label }}')" 
									oninput="setCustomValidity('')"
								{% endif %}
								data-errormessage = "{{ App.params.fields['item'][summaryField]['label']|capitalize }}: {{ App.params.fields['item'][summaryField]['error message'] }}"							
								>{{ attribute(App.item, summaryField)|e('html') }}</textarea>
							</div>
						</div>	
						<hr>
						<div class="form-group row">
							<label for="content_{{ lang }}ID" class="col-sm-12 col-md-12 col-lg-2 col-xl-2 col-form-label">
								{{ App.params.fields['item'][contentField]['label']|capitalize }}
								{% if App.params.fields['item'][contentField]['required'] == true %}
										<span class="required-sign">*</span>
								{% endif %}	
							</label>
							<div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
								<textarea name="content_{{ lang }}" id="content_{{ lang }}ID" class="form-control editorHTML" rows="5"
								{% if App.params.fields['item'][contentField]['required'] == true %} 
									{% set label = LocalStrings['Devi inserire un %ITEM%!']|replace({'%ITEM%': App.params.fields['item'][contentField]['label'] })  %}
									required="required" 
									oninvalid="this.setCustomValidity('{{ label }}')" 
									oninput="setCustomValidity('')"
								{% endif %}
								>{{ attribute(App.item, contentField) }}</textarea>
							</div>
						</div>							
					
					</div>
					{% endfor %}
				<!-- /sezione dati base dinamica lingue -->

				<!-- sezione image -->	
				<div class="tab-pane fade" id="image" role="tabpanel" aria-labelledby="image">		
					<fieldset>
						<div class="form-group row">
							<label for="filenameID" class="col-sm-12 col-md-12 col-lg-2 col-xl-2 col-form-label">{{ LocalStrings['immagine']|capitalize }}</label>	
							<div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">	
								<div class="custom-file">
									<input{% if App.item.filenameRequired == true %} required{% endif %} type="file"  name="filename" id="filenameID" class="custom-file-input"{% if App.item.filenameRequired == true %} required{% endif %}>
									<label class="custom-file-label" for="filenameID">{{ LocalStrings['indica un file da caricare']|capitalize }}</label>    							
								</div>
							</div>
  						</div>
  						
						<div class="form-group row">
							<label class="col-sm-12 col-md-12 col-lg-2 col-xl-2 col-form-label">{{ LocalStrings['anteprima']|capitalize }}</label>
							<div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
								{% if App.item.filename is defined and App.item.filename != '' %}
								<a class="" href="{{ App.params.uploadDirs['item'] }}{{ App.item.filename }}" data-lightbox="image-1" data-title="{{ value.org_filename }}" title="{{ App.item.org_filename }}">
									<img  class="img-miniature"  src="{{ App.params.uploadDirs['item'] }}{{ App.item.filename }}" alt="{{ App.item.org_filename }}">
								</a>							
								{% else %}
									<img class="img-miniature"  src="{{ App.params.uploadDirs['item'] }}default/image.png" alt="{{ LocalStrings['immagine di default']|capitalize }}">	
								{% endif %}
							</div>			
						</div>
						{% if App.item.filename is defined and App.item.filename != '' %}
						<div class="form-group row">
							<label for="deleteFilenameID" class="col-sm-12 col-md-12 col-lg-2 col-xl-2 col-form-label col-form-label-custom-checkbox">{{ LocalStrings['cancella immagine']|capitalize }}</label>						
							<div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">													
								<div class="custom-control custom-checkbox">
									<input 
									name="deleteFilename" 
									id="deleteFilenameID"
									value="1" 
									type="checkbox" 
									class="custom-control-input"
									>
									<label class="custom-control-label" for="deleteFilenameID">{{ LocalStrings['cancella file']|capitalize }}</label>
								</div>
											
							</div>					
						</div>
						{% endif %}
					</fieldset>
				</div>
				<!-- /sezione image -->

				<!-- sezione opzioni -->	
				<div class="tab-pane fade" id="options" role="tabpanel" aria-labelledby="options">
					<fileldset>
						<div class="form-group row">
							<label class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-form-label col-form-label-custom-checkbox">{{ App.params.fields['item']['active']['label']|capitalize }}</label>	
							<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">		
								<div class="custom-control custom-checkbox">
									<input 
									name="active" 
									id="activeID"{% if App.item.active == 1 %} checked="checked"{% endif %} 
									value="1" 
									type="checkbox" 
									class="custom-control-input"
									>
									<label class="custom-control-label" for="activeID"></label>
								</div>
							</div>
						</div>
					</fileldset>				
				</div>
				<!-- /sezione opzioni -->
							
			</div>
			<!--/Tab panes -->	
			<hr>			
			<div class="form-group row">
				<div class="col-md-6 col-xs-12 text-center actionbutton mt-2">
					{% for lang in GlobalSettings['languages'] %}				
						{% set metaTitleField = "meta_title_#{lang}" %}
						{% set metaDescriptionField = "meta_description_#{lang}" %}
						{% set metaKeywordField = "meta_keyword_#{lang}" %}
						{% set titleSeoField = "title_seo_#{lang}" %}
							<input type="hidden" class="form-control" name="meta_title_{{ lang }}" id="title_seo_{{ lang }}ID" value="{{ attribute(App.item, metaTitleField)|e('html') }}">
							<input type="hidden" class="form-control" name="meta_description_{{ lang }}" id="title_seo_{{ lang }}ID" value="{{ attribute(App.item, metaDescriptionField)|e('html') }}">
							<input type="hidden" class="form-control" name="meta_keyword_{{ lang }}" id="title_seo_{{ lang }}ID" value="{{ attribute(App.item, metaKeywordField)|e('html') }}">
							<input type="hidden" class="form-control" name="title_seo_{{ lang }}" id="title_seo_{{ lang }}ID" value="{{ attribute(App.item, titleSeoField)|e('html') }}">
					{% endfor %}

					<input type="hidden" name="id" id="idID" value="{{ App.id }}">
					<input type="hidden" name="method" value="{{ App.methodForm }}">
					<button type="submit" name="submitForm" value="submit" class="btn btn-primary submittheform">{{ LocalStrings['invia']|capitalize }}</button>
					{% if App.id > 0 %}
						<button type="submit" name="applyForm" value="apply" class="btn btn-primary submittheform">{{ LocalStrings['applica']|capitalize }}</button>
					{% endif %}
				</div>
				<div class="col-md-6 col-xs-12 text-center backlistbutton mt-2">			
					<a href="{{ URLSITEADMIN }}{{ CoreRequest.action }}/list" title="{{ LocalStrings['torna alla %ITEM%']|replace({'%ITEM%': LocalStrings['lista']})|capitalize }}" class="btn btn-success">{{ LocalStrings['indietro']|capitalize }}</a>
				</div>
			</div>	
		</form>
	</div>
</div>