<!-- admin/pagetemplates/formItem.html v.4.5.1. 18/03/2020 -->
<div class="row">
	<div class="col-md-3 new">
 	</div>
	<div class="col-md-7 help-small-form">
		{% if App.params.help_small is defined and App.params.help_small != '' %}{{ App.params.help_small }}{% endif %}
	</div>
	<div class="col-md-2 help">
	</div>
</div>

<div class="card shadow mt-3 mb-4">
	<div class="card-body">
	
		<ul class="nav nav-tabs" id="formTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" href="#datibase" id="datibase-tab" data-toggle="tab" role="tab" aria-controls="datibase" aria-selected="true">{{ Lang['dati base']|capitalize }}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#image" id="image-tab" data-toggle="tab" role="tab" aria-controls="image" aria-selected="false">{{ Lang['immagine']|capitalize }}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#options" id="options-tab" data-toggle="tab" role="tab" aria-controls="options" aria-selected="false">{{ Lang['opzioni']|capitalize }}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#advanced" id="advanced-tab" data-toggle="tab" role="tab" aria-controls="advanced" aria-selected="false">{{ Lang['avanzate']|capitalize }}</a>
			</li>
		</ul>
		
		<form id="applicationForm" method="post" class="form-horizontal" role="form" action="{{ URLSITEADMIN }}{{ CoreRequest.action }}/{{ App.methodForm }}"  enctype="multipart/form-data" method="post">
		
			<!-- Tab panes -->
			<div class="tab-content">
				
				<div class="tab-pane fade show active" id="datibase" role="tabpanel" aria-labelledby="datibase-tab">
					<fieldset>
						<div class="form-group row">
							<label for="titleID" class="col-md-2 control-label">{{ Lang['titolo']|capitalize }}</label>
							<div class="col-md-7">
								<input required type="text" name="title" class="form-control" placeholder="{{ Lang['inserisci un titolo']|capitalize }}" id="titleID" value="{{ App.item.title|e('html') }}" oninvalid="this.setCustomValidity('{{ Lang['Devi inserire un %ITEM%!']|replace({'%ITEM%': Lang['titolo']}) }}')" oninput="setCustomValidity('')">
					    	</div>
						</div>
						<div class="form-group row">
							<label for="contentID" class="col-md-2 control-label">{{ Lang['contenuto']|capitalize }}</label>
							<div class="col-md-7">
								<textarea name="content" class="form-control" id="contentID" rows="4">{{ App.item.content|e('html') }}</textarea>
							</div>
						</div>
						<div class="form-group row">
							<label for="templateID" class="col-md-2 control-label">{{ Lang['template']|capitalize }}</label>
							<div class="col-md-7">
								<input required type="text" name="template" class="form-control" placeholder="{{ Lang['inserisci un template']|capitalize }}" id="templateID" value="{{ App.item.template|e('html') }}" oninvalid="this.setCustomValidity('{{ Lang['Devi inserire un %ITEM%!']|replace({'%ITEM%': Lang['template']}) }}')" oninput="setCustomValidity('')">
					    	</div>
						</div>
					</fieldset>			
				</div>		
							
<!-- sezione image -->	
				<div class="tab-pane fade" id="image" role="tabpanel" aria-labelledby="image-tab">		
					<fieldset>
						<div class="form-group row">
							<label for="filenameID" class="col-md-2 control-label">{{ Lang['immagine']|capitalize }}</label>							
							<div class="col-md-4">							
								<div class="custom-file">
  									<input{% if App.item.filenameRequired == true %} required{% endif %} type="file" name="filename" class="custom-file-input" id="filenameID">
  									<label class="custom-file-label" for="customFile">{{ Lang['indica un file da caricare']|capitalize }}</label>
								</div>							
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-2 control-label">{{ Lang['anteprima']|capitalize }}</label>
							<div class="col-md-7">
								{% if App.item.filename is defined and App.item.filename != '' %}
								<a class="" href="{{ App.params.uploadDirs['item'] }}{{ App.item.filename }}" data-lightbox="image-1" data-title="{{ value.org_filename }}" title="{{ App.item.org_filename }}">
									<img  class="img-miniature"  src="{{ App.params.uploadDirs['item'] }}{{ App.item.filename }}" alt="{{ App.item.org_filename }}">
								</a>							
								{% else %}
									<img  class="img-miniature"  src="{{ UPLOADDIR }}default/image.png" alt="{{ Lang['immagine di default']|capitalize }}">											
								{% endif %}
							</div>			
						</div>
						{% if App.item.filename is defined and App.item.filename != '' %}
						<div class="form-group row">
							<label for="deleteFilenameID" class="col-md-2 control-label">{{ Lang['cancella immagine']|capitalize }}</label>						
							<div class="col-md-5">							
								<input type="checkbox" name="deleteFilename" id="deleteFilenameID" value="1">						
							</div>					
						</div>
						{% endif %}
					</fieldset>
				</div>
<!-- /sezione image -->
			
				<!-- sezione opzioni --> 
				<div class="tab-pane fade show" id="options" role="tabpanel" aria-labelledby="options">	
					<fieldset>
						<!-- se e un utente root visualizza l'input altrimenti lo genera o mantiene automaticamente -->	
						{% if App.userLoggedData.is_root == 1 %}	
							<div class="form-group row">
								<label for="orderingID" class="col-md-2 control-label">{{ Lang['ordine']|capitalize }}</label>
								<div class="col-md-1">
									<input type="text" name="ordering" placeholder="{{ Lang['inserisci un ordine']| capitalize }}" class="form-control" id="orderingID" value="{{ App.item.ordering|e('html') }}">
						    	</div>
							</div>
							<br>
						{% else %}
							<input type="hidden" name="ordering" value="{{ App.item.ordering }}">		
						{% endif %}
						<!-- fine se root -->	
						<div class="form-group row">
							<label for="activeID" class="col-md-2 control-label">{{ Lang['attiva']|capitalize }}</label>
							<div class="col-md-7">
								<input type="checkbox" name="active" id="activeID" class="form-check-input"{% if App.item.active == 1 %} checked="checked"{% endif %} value="1">     					
	   					</div>
					</fieldset>				
				</div>
				<!-- sezione opzioni -->	
				
<!-- sezione avanzate -->	
				<div class="tab-pane fade show" id="advanced" role="tabpanel" aria-labelledby="advanced">		
					<fieldset>
						<div class="form-group row">
							<label for="css_linksID" class="col-md-2 control-label">{{ Lang['css link']|capitalize }}</label>
							<div class="col-md-7">
								<textarea name="css_links" class="form-control" id="css_linksID" rows="4">{{ App.item.css_links }}</textarea>
							</div>
				  		</div>
				  		<hr>
						<div class="form-group row">
							<label for="jscript_init_codeID" class="col-md-2 control-label">{{ Lang['codice javascript inizio body']|capitalize }}</label>
							<div class="col-md-7">
								<textarea name="jscript_init_code" class="form-control" id="jscript_init_codeID" rows="4">{{ App.item.jscript_init_code }}</textarea>
							</div>
				  		</div>
						<div class="form-group row">
							<label for="jscript_linksID" class="col-md-2 control-label">{{ Lang['javascript link']|capitalize }}</label>
							<div class="col-md-7">
								<textarea name="jscript_links" class="form-control" id="jscript_linksID" rows="4">{{ App.item.jscript_links }}</textarea>
							</div>
						</div>
						<div class="form-group row">
							<label for="jscript_last_linksID" class="col-md-2 control-label">{{ Lang['ultimi javascript link']|capitalize }}</label>
							<div class="col-md-7">
								<textarea name="jscript_last_links" class="form-control" id="jscript_last_linksID" rows="4">{{ App.item.jscript_last_links }}</textarea>
							</div>
						</div>
						<hr>
						<div class="form-group row">
							<label for="base_tpl_pageID" class="col-md-2 control-label">{{ Lang['file del template di base']|capitalize }}</label>
							<div class="col-md-7">
								<input type="input" name="base_tpl_page" id="base_tpl_pageID" placeholder="{{ Lang['Inserisci un pagina template base'] }}" class="form-control" value="{{ App.item.base_tpl_page }}">
				    		</div>
				  		</div>
					</fieldset>				
				</div>
<!--/sezione avanzate -->	
  		
				
			</div><!--./tab-content	 -->
		
			<hr>
		
			<div class="form-group row">
				<div class="col-md-6 col-xs-12 text-center">
					<input type="hidden" name="id" value="{{ App.id }}">
					<input type="hidden" name="predefinito" value="{{ App.item.predefinito }}">
					<input type="hidden" name="method" value="{{ App.methodForm }}">
					<button type="submit" name="submitForm" value="submit" class="btn btn-primary submittheform">{{ Lang['invia']|capitalize }}</button>
					{% if App.id > 0 %}
						<button type="submit" name="applyForm" value="apply" class="btn btn-primary submittheform">{{ Lang['applica']|capitalize }}</button>
					{% endif %}
				</div>
				<div class="col-md-6 col-xs-12 text-right">				
					<a href="{{ URLSITEADMIN }}{{ CoreRequest.action }}/listItem" title="{{ Lang['torna alla lista']|capitalize }}" class="btn btn-success">{{ Lang['indietro']|capitalize }}</a>
				</div>
			</div>
			
		</form>
	</div>
</div>
