<!-- admin/links/formBrand.html v.1.0.0. 16/02/2021 -->
<div class="row">
	<div class="col-md-3 new"></div>
	<div class="col-md-7 help-small-form">{% if App.params.help_small is defined and App.params.help_small != '' %}{{ App.params.help_small }}{% endif %}</div>
	<div class="col-md-2 help"></div>
</div>

<div class="card shadow mt-3 mb-4">
	<div class="card-body">

		<!-- Nav tabs -->
		<ul class="nav nav-tabs" id="formTab" role="tablist">
			
			{% for lang in GlobalSettings['languages'] %}		
				<li class="nav-item">
					<a class="nav-link{% if lang == LocalStrings['user'] %} active{% endif %}" href="#datibase{{ lang }}" id="datibase{{ lang }}-tab" aria-controls="datibase{{ lang }}" aria-selected="true" data-toggle="tab">{{ LocalStrings['dati base']|capitalize }} {{ lang }}</a>
				</li>
			{% endfor %}

			<li class="nav-item">
				<a class="nav-link" href="#options" id="options-tab" data-toggle="tab" role="tab" aria-controls="options" aria-selected="false">{{ LocalStrings['opzioni']|capitalize }}</a>
			</li>
		</ul>	
			
		<form id="applicationForm" class="form-horizontal" role="form" action="{{ URLSITEADMIN }}{{ CoreRequest.action }}/{{ App.methodForm }}"  enctype="multipart/form-data" method="post">
			<!-- Tab panes -->
			<div class="tab-content" id="formTabContent">
					
				<!-- sezione dati base dinamica lingue -->
				{% for lang in GlobalSettings['languages'] %} 
					{% set titleField = "title_#{lang}" %}
					{% set contentField = "content_#{lang}" %}
					
					<div class="tab-pane{% if lang == LocalStrings['user'] %} active{% endif %}" id="datibase{{ lang }}" role="tabpanel" aria-labelledby="datibase{{ lang }}">						
						<div class="form-group row">
							<label for="title_{{ lang }}ID" class="col-sm-12 col-md-12 col-lg-2 col-xl-2 col-form-label">
								{{ App.params.fields['item'][titleField]['label']|capitalize }}
								{% if App.params.fields['item'][titleField]['required'] == true %}
									<span class="required-sign">*</span>
								{% endif %}	
							</label>
							<div class="col-md-7">
								<input 
								type="text" 
								name="title_{{ lang }}" 
								id="title_{{ lang }}ID" 
								value="{{ attribute(App.item, titleField) }}" 
								class="form-control"  
								placeholder="{{ LocalStrings['inserisci un %ITEM%']|replace({ '%ITEM%': App.params.fields['item'][titleField]['label'] })|capitalize }}" 
								{% if App.params.fields['item'][titleField]['required'] == true %} 
								{% set label = LocalStrings['Devi inserire un %ITEM%!']|replace({'%ITEM%': App.params.fields['item'][titleField]['label'] })  %}
									required="required"
								{% endif %} 
								oninvalid="this.setCustomValidity('{{ label }}')" 
								oninput="setCustomValidity('')"
								data-errormessage = "{{ App.params.fields['item'][titleField]['label']|capitalize }}: {{ App.params.fields['item'][titleField]['error message'] }}"
								>								

							</div>
						</div>						
					</div>
				{% endfor %}
				<!-- /sezione dati base dinamica lingue -->  

				<div class="tab-pane fade" id="options" role="tabpanel" aria-labelledby="options">	
					<fieldset>

						<div class="form-group row">
							<label for="urlID" class="col-sm-12 col-md-12 col-lg-2 col-xl-2 col-form-label">{{ App.params.fields['item']['url']['label']|capitalize }}</label>
							<div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
								<input 
								type="text" 
								class="form-control" 
								name="url" 
								id="url_ID" 
								value="{{ App.item.url }}" 
								placeholder="{{ LocalStrings['inserisci un url']|capitalize }}"
								>
							</div>																	
						</div>
						<hr>
	

						<div class="form-group row ml-2">
							<div class="custom-control custom-checkbox">
								<input 
								name="in_footer" 
								id="in_footerID"{% if App.item.in_footer == 1 %} checked="checked"{% endif %} 
								value="1" 
								type="checkbox" 
								class="custom-control-input"
								>
								<label class="custom-control-label" for="in_footerID">{{ App.params.fields['item']['in_footer']['label']|capitalize }}</label>
							</div>
						</div>
						
						<div class="form-group row ml-2">
							<div class="custom-control custom-checkbox">
								<input 
								name="active" 
								id="activeID"{% if App.item.active == 1 %} checked="checked"{% endif %} 
								value="1" 
								type="checkbox" 
								class="custom-control-input"
								>
								<label class="custom-control-label" for="activeID">{{ App.params.fields['item']['active']['label']|capitalize }}</label>
							</div>
						</div>

					</fieldset>
				</div>	
							
			</div>
			<!--/Tab panes -->	
			<hr>			
			<div class="form-group row">
				<div class="col-md-6 col-xs-12 text-center actionbutton mt-2">
					<input type="hidden" name="id" id="idID" value="{{ App.id }}">
					<input type="hidden" name="method" value="{{ App.methodForm }}">
					<button type="submit" name="submitForm" value="submit" class="btn btn-primary submittheform">{{ LocalStrings['invia']|capitalize }}</button>
					{% if App.id > 0 %}
						<button type="submit" name="applyForm" value="apply" class="btn btn-primary submittheform ml-5">{{ LocalStrings['applica']|capitalize }}</button>
					{% endif %}
				</div>
				<div class="col-md-6 col-xs-12 text-center deletebutton mt-2">				
					<a href="{{ URLSITEADMIN }}{{ CoreRequest.action }}/list" title="{{ LocalStrings['torna alla %ITEM%']|replace({'%ITEM%': LocalStrings['lista']})|capitalize }}" class="btn btn-success">{{ LocalStrings['indietro']|capitalize }}</a>
				</div>
			</div>	
		</form>
	</div>
</div>