<!--=== Breadcrumbs ===-->
{{ App.breadcrumbsBar }}
<!--=== End Breadcrumbs ===-->

<div class="container text-center g-py-100">
    <div class="mb-5">
        <span class="d-block g-color-gray-light-v1 g-font-size-70 g-font-size-90--md mb-4">
            <i class="icon-hotel-restaurant-105 u-line-icon-pro"></i>
        </span>
        <h2 class="g-mb-30">{{ LocalStrings['il tuo carrello è vuoto']|title }}</h2>
        <p>{{ LocalStrings['il tuo carrello è vuoto testo'] }}.</p>
    </div>
    <a class="btn u-btn-primary g-font-size-12 text-uppercase g-py-12 g-px-25" href="{{ URLSITE }}products">{{ LocalStrings['inizia acquisti']|title }}</a>
</div>

<!-- Call to Action -->
<div class="g-bg-primary">
    <div class="container g-py-20">
        <div class="row justify-content-center">
            <div class="col-md-4 mx-auto g-py-20">
                <!-- Media -->
                <div class="media g-px-50--lg">
                    <i
                        class="d-flex g-color-white g-font-size-40 g-pos-rel g-top-3 mr-4 icon-real-estate-048 u-line-icon-pro"></i>
                    <div class="media-body">
                        <span class="d-block g-color-white g-font-weight-500 g-font-size-17 text-uppercase">{{
                            LocalStrings['spedizioni']|title }}</span>
                        <span class="d-block g-color-white-opacity-0_8">{{ LocalStrings['in 2-3 giorni']|title }}</span>
                    </div>
                </div>
                <!-- End Media -->
            </div>

            <div class="col-md-4 mx-auto g-brd-x--md g-brd-white-opacity-0_3 g-py-20">
                <!-- Media -->
                <div class="media g-px-50--lg">
                    <i
                        class="d-flex g-color-white g-font-size-40 g-pos-rel g-top-3 mr-4 icon-real-estate-040 u-line-icon-pro"></i>
                    <div class="media-body">
                        <span class="d-block g-color-white g-font-weight-500 g-font-size-17 text-uppercase">{{
                            LocalStrings['restituzioni']|title }}</span>
                        <span class="d-block g-color-white-opacity-0_8">{{ LocalStrings['nessuna motivazione
                            richiesta']|title
                            }}</span>
                    </div>
                </div>
                <!-- End Media -->
            </div>

            <div class="col-md-4 mx-auto g-py-20">
                <!-- Media -->
                <div class="media g-px-50--lg">
                    <i
                        class="d-flex g-color-white g-font-size-40 g-pos-rel g-top-3 mr-4 icon-hotel-restaurant-062 u-line-icon-pro"></i>
                    <div class="media-body text-left">
                        <span class="d-block g-color-white g-font-weight-500 g-font-size-17 text-uppercase">{{
                            LocalStrings['24']|title
                            }}</span>
                        <span class="d-block g-color-white-opacity-0_8">{{ LocalStrings['giorni in magazzino']|title
                            }}</span>
                    </div>
                </div>
                <!-- End Media -->
            </div>
        </div>
    </div>
</div>
<!-- End Call to Action -->