<!--=== Breadcrumbs ===-->
{{ App.breadcrumbsBar }}
<!--=== End Breadcrumbs ===-->

{{ App.systemMessages }}

<!-- Login -->
<section class="container g-py-100">
    <div class="row justify-content-center">
        <div class="col-sm-9 col-md-7 col-lg-5">
            <div class="g-brd-around g-brd-gray-light-v3 g-bg-white rounded g-px-30 g-py-50 mb-4">
                <header class="text-center mb-4">
                    <h1 class="h4 g-color-black g-font-weight-400">{{ LocalStrings['password dimenticata?']|title }}</h1>
                    <p>{{ LocalStrings['titolo sezione richiesta password da frontend']|capitalize }}.</p>
                </header>

                <!-- Form -->
                <form action="{{ URLSITE }}{{ App.moduleName }}/checkgetpassword" method="post" enctype="multipart/form-data"class="g-py-15">
                    <div class="mb-4">
                        <div class="input-group g-rounded-left-5">
                            <span class="input-group-prepend g-width-45 g-brd-gray-light-v3 g-color-gray-dark-v5">
                                <span class="input-group-text justify-content-center w-100 g-bg-transparent g-brd-gray-light-v3">
                                    <i class="icon-finance-067 u-line-icon-pro"></i>
                                </span>
                            </span>
                            <input name="email" id="emailID" class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-rounded-left-0 g-rounded-right-5 g-py-15 g-px-15" type="email" placeholder="{{ LocalStrings['indirizzo email']|capitalize }}">
                        </div>
                    </div>

                    <button class="btn btn-block u-btn-primary g-font-size-12 text-uppercase g-py-15 g-px-25" type="submit">{{ LocalStrings['ottieni nuova password']|capitalize }}</button>
                </form>
                <!-- End Form -->
            </div>

            <div class="row justify-content-between mb-5">
                <div class="col align-self-center text-center">
                    <p class="g-font-size-13">{{ LocalStrings['non hai ricevuto la email?']|capitalize }} <a href="{{ URLSITE }}contacts">{{ LocalStrings['clicca qui']|capitalize }}</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Login -->

<!-- Call to Action -->
<div class="g-bg-primary">
    <div class="container g-py-20">
        <div class="row justify-content-center">
            <div class="col-md-4 mx-auto g-py-20">
                <!-- Media -->
                <div class="media g-px-50--lg">
                    <i
                        class="d-flex g-color-white g-font-size-40 g-pos-rel g-top-3 mr-4 icon-real-estate-048 u-line-icon-pro"></i>
                    <div class="media-body">
                        <span class="d-block g-color-white g-font-weight-500 g-font-size-17 text-uppercase">{{
                            LocalStrings['spedizioni']|title }}</span>
                        <span class="d-block g-color-white-opacity-0_8">{{ LocalStrings['in 2-3 giorni']|title }}</span>
                    </div>
                </div>
                <!-- End Media -->
            </div>

            <div class="col-md-4 mx-auto g-brd-x--md g-brd-white-opacity-0_3 g-py-20">
                <!-- Media -->
                <div class="media g-px-50--lg">
                    <i
                        class="d-flex g-color-white g-font-size-40 g-pos-rel g-top-3 mr-4 icon-real-estate-040 u-line-icon-pro"></i>
                    <div class="media-body">
                        <span class="d-block g-color-white g-font-weight-500 g-font-size-17 text-uppercase">{{
                            LocalStrings['restituzioni']|title }}</span>
                        <span class="d-block g-color-white-opacity-0_8">{{ LocalStrings['nessuna motivazione
                            richiesta']|title
                            }}</span>
                    </div>
                </div>
                <!-- End Media -->
            </div>

            <div class="col-md-4 mx-auto g-py-20">
                <!-- Media -->
                <div class="media g-px-50--lg">
                    <i
                        class="d-flex g-color-white g-font-size-40 g-pos-rel g-top-3 mr-4 icon-hotel-restaurant-062 u-line-icon-pro"></i>
                    <div class="media-body text-left">
                        <span class="d-block g-color-white g-font-weight-500 g-font-size-17 text-uppercase">{{
                            LocalStrings['24']|title
                            }}</span>
                        <span class="d-block g-color-white-opacity-0_8">{{ LocalStrings['giorni in magazzino']|title
                            }}</span>
                    </div>
                </div>
                <!-- End Media -->
            </div>
        </div>
    </div>
</div>
<!-- End Call to Action -->