<aside
	class="g-brd-around g-brd-gray-light-v4 rounded g-px-20 g-py-30">
	<!-- Profile Picture -->
	<div class="text-center g-pos-rel g-mb-30">
		<div class="g-width-100 g-height-100 mx-auto mb-3">
			<img class="img-fluid rounded-circle" src="{{ URLSITE }}ajax/renderuseravatarfromdb.php?id={{ App.user.id }}" alt="Avatar cliente">
		</div>

		<span class="d-block g-font-weight-500">{{ App.user.username }}</span>

		<span class="u-icon-v3 u-icon-size--xs g-color-white--hover g-bg-primary--hover rounded-circle g-pos-abs g-top-0 g-right-15 g-cursor-pointer" title="{{ LocalStrings['modifica %ITEM%']|replace({'%ITEM%': LocalStrings['immagine'] })|capitalize }} {{ LocalStrings['utente'] }}" bkpdata-toggle="tooltip" data-placement="top" data-toggle="modal" data-target="#modifyAvatarID">
			<i class="icon-finance-067 u-line-icon-pro"></i>
		</span>
	</div>
	<!-- End Profile Picture -->

	<hr
	class="g-brd-gray-light-v4 g-my-30">

	<!-- Profile Settings List -->
	<ul class="list-unstyled mb-0">
		<li class="g-pb-3">
			<a class="d-block align-middle u-link-v5 g-color-text g-color-primary--hover g-bg-gray-light-v5--hover rounded g-pa-3" href="page-wallet-1.html">
				<span class="u-icon-v1 g-color-gray-dark-v5 mr-2">
					<i class="icon-finance-059 u-line-icon-pro"></i>
				</span>
				{{ LocalStrings['il tuo portafogli']|capitalize }}
			</a>
		</li>
		<li class="g-py-3">
			<a class="d-block align-middle u-link-v5 g-color-text g-color-primary--hover g-bg-gray-light-v5--hover rounded g-pa-3" href="page-orders-1.html">
				<span class="u-icon-v1 g-color-gray-dark-v5 mr-2">
					<i class="icon-finance-114 u-line-icon-pro"></i>
				</span>
				{{ LocalStrings['i tuoi ordini']|capitalize }}
			</a>
		</li>
		<li class="g-py-3">
			<a class="d-block align-middle u-link-v5 g-color-text g-color-primary--hover g-bg-gray-light-v5--hover rounded g-pa-3" href="page-open-orders-1.html">
				<span class="u-icon-v1 g-color-gray-dark-v5 mr-2">
					<i class="icon-finance-115 u-line-icon-pro"></i>
				</span>
				{{ LocalStrings['ordini aperti']|capitalize }}
			</a>
		</li>
		<li class="g-py-3">
			<a class="d-block align-middle u-link-v5 g-color-text g-color-primary--hover g-bg-gray-light-v5--hover rounded g-pa-3" href="page-cancelled-orders-1.html">
				<span class="u-icon-v1 g-color-gray-dark-v5 mr-2">
					<i class="icon-finance-113 u-line-icon-pro"></i>
				</span>
				{{ LocalStrings['ordini cancellati']|capitalize }}
			</a>
		</li>
		<li class="g-py-3">
			<a class="d-block align-middle u-link-v5 g-color-text g-color-primary--hover g-bg-gray-light-v5--hover rounded g-pa-3" href="page-wishlist-1.html">
				<span class="u-icon-v1 g-color-gray-dark-v5 mr-2">
					<i class="icon-medical-022 u-line-icon-pro"></i>
				</span>
				{{ LocalStrings['lista desideri']|capitalize }}
			</a>
		</li>
		<li class="g-py-3">
			<a class="d-block align-middle active u-link-v5 g-color-text g-color-primary--hover g-bg-gray-light-v5--hover g-color-primary--parent-active g-bg-gray-light-v5--active rounded g-pa-3" href="page-addresses-1.html">
				<span class="u-icon-v1 g-color-gray-dark-v5 mr-2">
					<i class="icon-real-estate-027 u-line-icon-pro"></i>
				</span>
				{{ LocalStrings['indirizzi']|capitalize }}
			</a>
		</li>
		<li class="g-py-3">
			<a class="d-block align-middle u-link-v5 g-color-text g-color-primary--hover g-bg-gray-light-v5--hover rounded g-pa-3" href="page-payment-options-1.html">
				<span class="u-icon-v1 g-color-gray-dark-v5 mr-2">
					<i class="icon-finance-110 u-line-icon-pro"></i>
				</span>
				{{ LocalStrings['opzioni pagamento']|capitalize }}
			</a>
		</li>
		<li class="g-py-3">
			<a title="{{ LocalStrings['modifica %ITEM%']|replace({ '%ITEM%': LocalStrings['sicurezza'] })|capitalize }}" class="d-block align-middle u-link-v5 g-color-text g-color-primary--hover g-bg-gray-light-v5--hover rounded g-pa-3" 
			href="{{ URLSITE }}{{ App.moduleName }}/security">
				<span class="u-icon-v1 g-color-gray-dark-v5 mr-2">
					<i class="icon-finance-135 u-line-icon-pro"></i>
				</span>
				{{ LocalStrings['login']|capitalize }}
				&amp;
				{{ LocalStrings['sicurezza']|capitalize }}
			</a>
		</li>
		<li class="g-pt-3">
			<a class="d-block align-middle u-link-v5 g-color-text g-color-primary--hover g-bg-gray-light-v5--hover rounded g-pa-3" href="page-notifications-1.html">
				<span class="u-icon-v1 g-color-gray-dark-v5 mr-2">
					<i class="icon-education-033 u-line-icon-pro"></i>
				</span>
				{{ LocalStrings['notifiche']|capitalize }}
			</a>
		</li>
		<li class="g-pt-3">
			<a title="{{ LocalStrings['esci dal sistema']|capitalize }}" class="d-block align-middle u-link-v5 g-color-text g-color-primary--hover g-bg-gray-light-v5--hover rounded g-pa-3" 
			href="{{ URLSITE }}{{ App.moduleName }}/logout">
				<span class="u-icon-v1 g-color-gray-dark-v5 mr-2">
					<i class="icon-real-estate-084 u-line-icon-pro"></i>
				</span>
				{{ LocalStrings['logout']|capitalize }}
			</a>
		</li>
	</ul>
	<!-- End Profile Settings List -->
</aside>


<!-- Modal -->
<div class="modal fade" id="modifyAvatarID" tabindex="-1" role="dialog" aria-labelledby="modifyAvatarTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modifyAvatarTitle">{{ LocalStrings['modifica %ITEM%']|replace({'%ITEM%': LocalStrings['immagine'] })|capitalize }}
					{{ LocalStrings['utente'] }}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
					
                <form 
				id="formAvatarID" 
				action="{{ URLSITE }}{{ App.moduleName }}/upgradeAvatar" 
				method="POST" 
				enctype="multipart/form-data"
                class="g-brd-around g-brd-gray-light-v4 g-pa-30 g-mb-30">
                    <!-- File Input -->
                    <div class="form-group">
                        <label class="g-mb-10" for="inputGroup">{{ LocalStrings['immagine']|capitalize }}</label>

                        <div class="input-group u-file-attach-v1 g-brd-gray-light-v2">
                            <input 
                            id="inputGroup" 
                            class="form-control form-control-md rounded-0" 
                            type="text" 
                            placeholder="{{ LocalStrings['seleziona una %ITEM%']|replace({'%ITEM%': LocalStrings['immagine'] }) }}" 
                            readonly=""
							required >

                            <div class="input-group-append">
                                <button class="btn btn-md u-btn-primary rounded-0" type="submit">{{ LocalStrings['seleziona']|capitalize }}</button>
                                <input name="avatar" id="avatarID" type="file">
                            </div>
                         </div>
                    </div>
                                    
                </form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">{{ LocalStrings['chiudi']|capitalize }}</button>
                <button id="submitFormAvatarID" type="button" class="btn btn-primary">{{ LocalStrings['modifica']|capitalize }}</button>
			</div>
		</div>
	</div>
</div>
